<html>
    <head>
        <meta charset="utf-8">
        <title>ex-dischi-musicali</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <div class="container">
                <img src="img/logo.png" alt="logo" />
            </div>
        </header>
        <div id="app">
            <!-- sezione tools -->
           <div class="tools">
                <select v-model="query">
                    <option value="all">All</option>
                    <option v-for="element in categorie" :value="element">{{element}}</option>
                </select>
             
           </div> 
           <!-- sezione dischi -->
            <div class="cds-container container">
                <div v-for="element in elementdb" v-if="query=='all'|| query==element.type" class="cd">    
                    <img :src="element.img" alt="">
                    <h3>{{element.title}}</h3>
                    <span class="author">{{element.author}}</span>
                    <span class="year">{{element.data}}</span>
                </div>
            
                
            </div>
        </div>
    
        

        <script src="js/vue.js" charset="utf-8"></script>
    </body>
</html>